@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.container{
    margin-top: 50px;
    border-top: 1px solid grey;
    font-family:Montserrat ;
    display: flex;
    margin-left: 240px;
    width: 1440px;
    padding: 70px 0px;
}
.block1Links {
  display: flex;
  gap: 50px;
}
.block1Links1 {
  display: block;
}
.a {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #828299;
  padding: 3px;
}
.a2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #828299;
    padding: 3px;
    width: 300px;
  }
.a3{
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    padding-bottom:30px;
    color: black;
}
.block3{
    margin-left: 130px;
}
.block1Links2{
    margin-left: 40px;
}
.catalog{
    font-weight: 600;
font-size: 18px;
line-height: 130%;
padding-bottom:20px;
}

.block4{
    margin-left: 140px;
}
.writeUs, .callUs{
    font-weight: 400;
font-size: 12px;
color: #828299;

line-height: 140%;
}
.write{
    margin-top: 30px;
}
.linkMail, .linkNumber{
    color: black;
    font-size: 19px;
}
.service{
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    padding-bottom:20px;  
}
.block2{
    margin-left: 120px;
}
.messangers{
    margin-top: 30px;
    gap: 20px;
    display: flex;
}
@media screen and (max-width:376px) {
    .container{
        display: block; 
        margin-left: 5px;
        width: 375px;
    }
    .block, .block2 , .block3, .block4{
        margin-left: 5px;
        padding: 10px 0px;
    }
}