.container{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.container2{
    display: none;
}

@media screen and (max-width: 375px) {
    .oboi{
        width: 334px;
    }
    .container{
        display: none;
    }
    .container2{
        display: block;
    }
}