@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
.designContainer {
  display: flex;
}
.firstContText {
  font-family: Montserrat;
  font-size: 40px;
  width: 470px;
  margin-left: 245px;
  margin-top: 80px;
  font-weight: 600;
  line-height: 130%;
  color: #192040;
}
.secondContText {
  width: 850px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  margin-top: 80px;
  margin-left: 100px;
  line-height: 140%;
  color: #192040;
}
.secondContLink {
  margin-top: 30px;
  font-family: Montserrat;
  border-bottom: solid 1px;
  width: 180px;
  color: black;

  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  padding: 2px;
  margin-left: 100px;
  cursor: pointer;
}
.img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.firstCards {
  display: flex;
  gap: 10px;
  margin-left: 245px;
  margin-top: 120px;
}
.serviceContTitle {
  font-family: Montserrat;
  font-size: 40px;
  width: 470px;
  margin-left: 245px;
  margin-top: 80px;
  font-weight: 600;
  line-height: 130%;
  color: #192040;
}
.serviceContText {
  width: 850px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 245px;
  line-height: 140%;
  color: #828299;
}
.secondCards {
  display: flex;
  gap: 10px;
  margin-left: 245px;
  margin-top: 50px;
}
.popularContText {
  font-family: Montserrat;
  font-size: 40px;
  width: 470px;
  margin-left: 245px;
  margin-top: 80px;
  font-weight: 600;
  line-height: 130%;
  color: #192040;
}
.thirdCardsBtns {
  gap: 10px;
  margin-top: 50px;
  display: flex;
  margin-left: 245px;
}
.buttons {
  padding: 15px 30px;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
  color: #828299;
  border-color: rgba(240, 248, 255, 0.249);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}
.buttons:focus {
  color: white;
  background-color: #ff2e51;
}
.thirdCards {
  display: flex;
  gap: 10px;
  margin-left: 245px;
  margin-top: 30px;
  width: 1430px;
  overflow-x: auto;
  height: 650px;
}
.thirdCards::-webkit-scrollbar {
  width: 0px;
}
.showProducts {
  margin-top: 1px;
  font-family: Montserrat;
  border-bottom: solid 1px;
  width: 190px;
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  padding: 2px;
  margin-left: 1450px;
  cursor: pointer;
}
.placeContTitle {
  font-family: Montserrat;
  font-size: 40px;
  width: 470px;
  margin-left: 245px;
  margin-top: 80px;
  font-weight: 600;
  line-height: 130%;
  color: #192040;
}
.placeContText {
  width: 850px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 245px;
  line-height: 140%;
  color: #828299;
}
.forthCards {
  display: grid;
  grid-template-columns: 710px 710px;
  grid-template-rows: 515px 515px;
  gap: 30px 10px;
}
.appTitle {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
}
.appText {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #828299;
  width: 500px;
  margin-top: 20px;
}
@media screen and (max-width: 376px) {
  .showProducts {
    margin-left: 80px;
  }
  .foto13 {
    width: 1px;
    height: 1px;
  }
  .forthCards {
    display: grid;
    grid-template-columns: 1px;
    grid-template-rows: 1px 1px 1px 1px;
    visibility: hidden;
  }
  .designContainer {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 1px;
    /* visibility: hidden; */
  }
  .firstContText {
    position: absolute;
    width: 1px;
    font-size: 1px;
    height: 1px;
    left: 1px;
    visibility: hidden;
  }
  .secondContLink {
    position: absolute;
    width: 1px;
    font-size: 1px;
    height: 1px;
    left: 1px;
    visibility: hidden;
  }
  .secondContText {
    position: absolute;
    width: 1px;
    font-size: 1px;
    height: 1px;
    left: 1px;
    visibility: hidden;
  }
  .firstCards {
    display: block;
    margin-left: 10px;
  }
  .secondCards {
    margin-left: 5px;
    overflow-x: auto;
  }
  .serviceContTitle {
    font-size: 24px;
    margin-left: 20px;
    width: 200px;
  }
  .serviceContText {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-left: 20px;
    width: 340px;
  }
  .popularContText {
    margin-left: 20px;
    font-size: 24px;
    width: 300px;
  }
  .thirdCardsBtns {
    margin-left: 5px;
    overflow-x: scroll;
    font-size: 14px;
    padding: 8px 13px;
  }
  .thirdCards {
    width: 370px;
    margin-left: 1px;
    overflow-x: auto;
  }
  .placeCont {
    position: absolute;
    width: 1px;
    font-size: 1px;
    height: 1px;
    left: 1px;
    visibility: hidden;
  }
  .placeContText {
    position: absolute;
    width: 1px;
    font-size: 1px;
    height: 1px;
    left: 1px;
    visibility: hidden;
  }
  .placeContTitle {
    position: absolute;
    width: 1px;
    font-size: 1px;
    height: 1px;
    left: 1px;
    visibility: hidden;
  }
}
